<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>PolacoDev</title>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  <header>
    <div class="container">
      <a href="/">
        <div class="logo">
          <h1>PolacoDev</h1>
          <h2>Ricardo Wojciechowski</h2>
        </div>
      </a>

      <nav class="primary">
        <div>
          <a href="/">Blog</a>
          <a href="/portfolio">Portfólio</a>
          <a href="/sobre">Sobre</a>
        </div>
      </nav>

    </div>
  </header>