<header>
  <div class="container">
    <a href="/">
      <div class="logo">
        <h1>PolacoDev</h1>
        <h2>Ricardo Wojciechowski</h2>
      </div>
    </a>

    <nav class="primary">
      <div>
        <a href="/blog">Blog</a>
        <a href="/portfolio">Portfólio</a>
        <a href="/livros">Livros</a>
        <a href="/sobre">Sobre</a>
      </div>
    </nav>

    <div class="player">
      <audio controls>
        <source src="/music/feelingHappy.mp3" type="audio/mp3"/>
        Your browser does not support the audio element.
      </audio>
    </div>
    
  </div>
</header>