{% extends "layout.njk" %}

{% block content %}

<section class="wrapper-portfolio">

  <div class="item">
    <h1>Projeto: Lorem Ipsum</h1>
    <p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non erat sagittis, vehicula nibh eu, ultricies quam. Ut sodales feugiat leo.</p>
    <a href="http://www.google.com" target="_blank" title="">http://www.google.com</a>
  </div>

  <div class="item">
    <h1>Projeto: Lorem Ipsum</h1>
    <p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non erat sagittis, vehicula nibh eu, ultricies quam. Ut sodales feugiat leo.</p>
    <a href="http://www.google.com" target="_blank" title="">http://www.google.com</a>
  </div>

  <div class="item">
    <h1>Projeto: Lorem Ipsum</h1>
    <p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non erat sagittis, vehicula nibh eu, ultricies quam. Ut sodales feugiat leo.</p>
    <a href="http://www.google.com" target="_blank" title="">http://www.google.com</a>
  </div>

  <div class="item">
    <h1>Projeto: Lorem Ipsum</h1>
    <p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non erat sagittis, vehicula nibh eu, ultricies quam. Ut sodales feugiat leo.</p>
    <a href="http://www.google.com" target="_blank" title="">http://www.google.com</a>
  </div>
    
</section>

{% endblock content %}